.pokemon-list-container {
  width: 40%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.pokemon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
  max-height: calc(100vh - 64px);
}

.main-title {
  background-color: #2979ff;
  color: #ffffff;
  padding: 16px 0;
  font-size: 1.5rem;
}

.pokemon-detail {
  display: flex;
  margin-top: 10px;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  border-top: 1px solid lightgray;
}

.pokemon-detail:last-child {
  border-bottom: none;
}

.pokemon-icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
